<header>
  <nav class="flex lg:block justify-between items-center">
    <app-nav-logo class="lg:hidden" />
    <app-mobil-menu class="lg:hidden" appToggleMenu/>

    <div
      class="mx-auto  right-0  top-16 bg-white shadow-lg lg:shadow-none w-full z-50 lg:flex max-w-7xl items-center justify-between  pe-16 lg:pe-6 p-6 flex-col absolute lg:static lg:flex-row"
    >
      <app-nav-logo class="hidden lg:block" />

      <app-nav-items />
      <div class="flex gap-4 justify-end mt-4 lg:mt-0">
        <app-social-links />
        <app-logout />
      </div>
    </div>
  </nav>
</header>
