<section
  class="w-full flex flex-col gap-4 rounded-lg px-32 py-20 bg-rast-soft-purple"
>
  <div class="flex justify-between">
    <app-search-link />
    <app-add-link />
  </div>
  <div>
    <app-list-link (editLinkEmitter)="editLink($event)" />
  </div>
</section>
<app-modal>
  <div>
    <form
      [formGroup]="linkForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-6"
    >
      <div class="form-input-group">
        <label class="text-sm" for="link">Social Media Link</label>
        <input type="url" id="link" formControlName="link" class="form-input" />
        <div
          *ngIf="linkForm.get('link')?.invalid && linkForm.get('link')?.touched"
        >
          <div *ngIf="linkForm.get('link')?.errors?.['required']">
            <span class="text-xs text-error"
              >Social Media Link is required</span
            >
          </div>
          <div *ngIf="linkForm.get('link')?.errors?.['pattern']">
            <span class="text-xs text-error"
              >Invalid URL format. (ex: https://firatorhan.com/)</span
            >
          </div>
        </div>
      </div>

      <div class="form-input-group">
        <label class="text-sm" for="nameOfSocialMedia"
          >Name of Social Media</label
        >
        <input
          type="text"
          id="nameOfSocialMedia"
          formControlName="nameOfSocialMedia"
          class="form-input"
        />
        <div
          *ngIf="
            linkForm.get('nameOfSocialMedia')?.invalid &&
            linkForm.get('nameOfSocialMedia')?.touched
          "
        >
          <span class="text-xs text-error"> Name is required.</span>
        </div>
      </div>

      <div class="form-input-group">
        <label class="text-sm" for="description">Description</label>

        <textarea
          id="description"
          formControlName="description"
          class="form-input resize-y rounded-md"
        ></textarea>
        <div
          *ngIf="
            linkForm.get('description')?.invalid &&
            linkForm.get('description')?.touched
          "
        >
          <span class="text-xs text-error">Description is required.</span>
        </div>
      </div>
      <div class="flex justify-end">
        <div class="flex gap-2">
          <button
            class="bg-rast-soft-purple text-rast-purple rounded-full px-4 py-2 min-w-24"
            type="reset"
            (click)="hideModal()"
          >
            Cancel
          </button>
          <button
            class="bg-rast-purple text-rast-soft-purple rounded-full px-4 py-2 min-w-24"
            type="submit"
          >
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</app-modal>
